@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
}
  @font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-Regular.ttf');
  }

  body {
    font-family: 'Rubik', sans-serif;
  }
